/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&family=Gelasio&family=Lato:wght@300&family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Roboto:wght@400;500&family=Spectral+SC:wght@200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Global Variables */
:root
{
    --black: #000000;
    --darkGray: #2B2D42;
    --gray: #8D99AE;
    --lightGray: #EDF2F4;
    --lightRed: #EF233C;
    --red: #D90429;
    --white: #FFFFFF;
    --enriqueta: "Enriqueta", serif;
    --gelasio: "Gelasio", serif;
    --lato: "Lato", serif;
    --montserrat: "Montserrat", sans-serif;
    --nunito: "Nunito Sans", sans-serif;
    --roboto: "Roboto", sans-serif;
    --spectral: "Spectral SC", serif;
}

/* Universal Styles */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* General Styles */
body
{
    display: grid;
    grid-template-columns: .15fr .85fr;
    height: 100vh;
}

main#main-container
{
    display: grid;
    grid-template-rows: 25% 75%;
}

section#body-container
{
    display: grid;
    background-color: var(--lightGray);
    grid-template-columns: 0.7fr 0.3fr;
}

.icon-content-flexy
{
    width: 100%;
    display: grid;
    grid-template-columns: .2fr .8fr;
    align-items: center;
}

.button
{
    cursor: pointer;
    border: none;
}

.rounded
{
    border-radius: 50%;
}

.header-button
{
    background-color: var(--red);
    color: var(--white);
    padding: 10px 40px;
    font-size: 130%;
    border-radius: 30px;
    transition: background-color 0.3s, opacity 0.3s;
}

.header-button:hover
{
    opacity: 0.7;
}

.header-button:active
{
    background-color: var(--lightRed);
}

.announcer
{
    font-family: var(--montserrat);
    font-size: 130%;
}

/* Dashboard Styles */
aside#dashboard
{
    background-color: var(--darkGray);
    padding: 20px;
    color: var(--white);
    font-family: var(--roboto);
}

.white-link
{
    color: var(--white);
}

.white-link:hover
{
    color: var(--lightGray);
}

.white-link:active
{
    color: var(--gray);
}

h1.dashboard-title
{
    font-size: 2rem;
}

#dashboard-title-container
{
    margin-bottom: 40px;
}

.nav-links > *
{
    margin-bottom: 20px;
}

#nav-links-1
{
    margin-bottom: 80px;
}

/* Header Styles */
header#header
{
    display: grid;
    grid-template-rows: 0.4fr 0.6fr;
}

#search-bar-container
{
    padding: 25px;
}

div#searchbar
{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
}

input#search
{
    outline: none;
    width: 75%;
    padding: 10px;
    font-size: 120%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: var(--lightGray);
}

button#search-btn
{
    padding: 15px;
    margin-left: 20px;
}

div#searchbar-extras
{
    display: flex;
    gap: 50px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

button#bell
{
    font-size: 150%;
    background-color: var(--white);
}

img#searchbar-pic
{
    width: 50px;
    cursor: pointer;
}

h1#name
{
    font-family: var(--montserrat);
    cursor: pointer;
}

div#intro
{
    padding: 20px;
    display: grid;
    grid-template-columns: .5fr .5fr;
}

div#user-description
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}

div#user-welcoming
{
    font-family: var(--roboto);
}

div#header-btn-container
{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

img#profile-pic
{
    width: 120px;
}

/* Body Styles */
#articles-container, #notifications-container, #upcoming-tournaments-container
{
    padding: 25px;
}

.announcements
{
    padding: 25px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    gap: 25px;
}

.announcement
{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
}

.announcement-title, .notification-title
{
    font-family: var(--nunito);
}

.announcement-content, .notification-content
{
    font-family: var(--roboto);
    color: var(--darkGray);
}

.announcement-icons
{
    align-self: flex-end;
}

.announcement-button
{
    padding: 10px;
}

.announcement-icon
{
    font-size: 150%;
}

.notifications
{
    padding: 50px;
    background-color: var(--white);
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 20px;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 5px 3px 4px 2px var(--darkGray);
}

.notifications hr
{
    color: var(--lightGray);
}
